[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

python-Levenshtein = "*"
fuzzywuzzy = "*"
django-heroku = "*"
datetime = "*"
tweepy = "*"


[requires]

python_version = "3.8"
